<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.android.jason.cordova.ExtraInfo"
        version="0.0.1">
    <name>ExtraInfo</name>
    <description>Description</description>

    <js-module src="www/ExtraInfo.js" name="ExtraInfo">
        <clobbers target="cordova.plugins.ExtraInfo" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExtraInfo">
                <param name="android-package" value="com.jason.ExtraInfo" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/com/android/jason/cordova/ExtraInfo.java" target-dir="src/com/jason" />
    </platform>
</plugin>